body {
    margin: 0;
}

a {
    text-decoration: none;
}

.banner-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(
        0deg, 
        rgb(251, 227, 137, 0.9) 
        0%, 
        rgb(243, 138, 129, 0.9) 
        100%), 
        url("./images/eagle.png");
    background-size: cover;
    background-position-y: 50%;
    width: 100%;
    height: 50vw;
}

.header {
    width: 100%;
    min-width: 200px;
    max-width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-title {
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    padding-bottom: 15px;
    margin-right: 50px;
    line-height: 30px;
}

.header-menu {
    width: 620px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-menu-item {
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin: 0 5px;
    box-sizing: border-box;
}

.selected {
    border-bottom: solid 2px #fce38a;
    color: #fce38a;
    padding-bottom: 13px;
}

.banner-middle-intro {
    text-align: center;
    width: 39vw;
}

.intro-header {
    font-size: 3.8vw;
    color: #ffffff;
    font-family: "Kaushan Script";
    font-weight: 400;
}

.intro-welcome {
    font-size: 8vw;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.intro-separator {
    width: 60px;
    border: solid 2px white;
    margin: 60px auto;
}

.intro-button-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 160px;
    height: 40px;
    border: solid 1px white;
    color: white;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .banner-background {
        height: 400px;
        background-position-x: 47%;
    }

    .header {
        height: unset;
        margin-top: 30px;
        align-items: flex-start;
    }

    .header-title {
        font-size: 40px;
    }

    .header-menu {
        flex-direction: column;
    }

    .header-menu-item {
        font-size: 20px;
        padding-bottom: 20px;
        order: 3;
    }

    .search {
        order: 1;
    }

    .cart {
        order: 2;
    }

    .selected {
        border: none;
        padding-bottom: 20px;
    }
}